extends layout

block content
  div.index-container 
    section.index-intro 
      h1= title
      p Welcome to Pencilooza, the #1 online destination for pencil manufacturers and wholesalers. We draw the line between manufacturers and wholesalers, offering an intuitive platform for registration, product submission, and order placement.
      p Our platform sharpens interactions and transactions. Manufacturers can easily register and submit their products to connect with our wholesalers. Wholesalers can browse our inventory, connect with manufacturers, and place orders.
      p Whether you're a manufacturer looking to up wholesale orders or a wholesaler looking for inventory from quality and reliable manufacturers, Pencilooza is your go-to platform. Join our network today and connect with the pencil-partner of your dreams.
    section.index-overview
      h1 Current Inventory Overview
      ul.index-overview-list
        li
          span.span-label Manufacturers: 
          | !{totalManufacturers}
        li 
          span.span-label Items
          ul.nested-list 
            li
              span.span-label &bull; All:
              |   !{totalItems}
            li 
              span.span-label &bull; Categories:
              |   !{totalCategories}
            li 
              span.span-label &bull; Types:
              |   !{totalTypes}
            li
              span.span-label &bull; Stock:
              |   !{totalStock}
        li 
          span.span-label Registrations
          ul.nested-list
            li
              span.span-label Pending
              ul.nested-list
                li
                  span.span-label &bull; Manufacturers:
                  |   !{totalPendingManufacturers}
                li
                  span.span-label &bull; Items:
                  |   !{totalPendingItems}
                  ul.nested-list
            li
              span.span-label Reviewed
              ul.nested-list
                li
                  span.span-label &bull; Accepted:
                  |   !{totalAcceptedRegistrations}
                li
                  span.span-label &bull; Rejected:
                  |   !{totalRejectedRegistrations}

