extends layout
extends scripts
  script.
    document.addEventListener('DOMContentLoaded', function () { 
      document.querySelectorAll('.ul-horizontal-option').forEach(button => button.addEventListener('click', function (e) {
        e.preventDefault();
        const form = document.querySelector('form3itemDetailOptions');
        const formData = new FormData(form);
        formData.append()
      }))
    })
block content
  div.item-detail-container
    header.item-detail-header
      h1 #{name}
      p= description
    section.item-detail-basic-info
      ul.item-detail-basic-info-list 
        li.item-detail-category 
          span.span-label Category:
          |   #{category}
        li.item-detail-type
          span.span-label Type:
          |   #{type}
        li.item-detail-stock
          span.span-label Stock:
          |   #{stock}
        li.item-detail-made-in
          span.span-label Made In:
          |   #{madeIn}
        li.item-detail-sku
          span.span-label SKU:
          |   #{sku}
        li.item-detail-mfr
          span.span-label Manufacturer:
          a(href=manufacturer.url)  #{manufacturer.name}
    section.item-detail-options
      h2 Options
      div.option-groups-container
        ul.ul-horizontal
          p.ul-horizontal-options-label quantity: 
          div.ul-horizontal-options-container
            for price in pricing 
              li
                button(type='submit' class= selected.qty === price.quantity ? 'selected' : '').ul-horizontal-option  #{price.quantity} 
        if optionGroups.length
          each group in optionGroups 
            ul.ul-horizontal
              p.ul-horizontal-options-label #{group.group}:
              if group.options.length
                div.ul-horizontal-options-container
                  each option in group.options
                    button(type='submit' class= selected.options.some(selectedOption => selectedOption.value === option.option) ? 'selected' : '').ul-horizontal-option   #{option.option}
    section.item-detail-options-current
      h3 Current
      div.label-value-wrapper 
        span.span-label PPU: 
        |   $#{selected.ppu}
      div.label-value-wrapper
        span.span-label MSRP: 
        |   $#{selected.msrp}
      div.label-value-wrapper 
        span.span-label Quantity: 
        |   $#{selected.qty}
      div.label-value-wrapper 
        span.span-label Total: 
        |   $#{total}
      button Checkout