extends layout

block content
  include mixins/labelValue
  div.manufacturer-info-container
    section.company-intro
      h1= company.name
      p= company.description
    section.company-info
      h2 General
      +labelValue('Year Founded:', company.yearFounded)
      +labelValue('Structure:', company.structure)
      +labelValue('Ref:', company.ref)
      if company.ein
        +labelValue('EIN:', company.ein)
      if note
        +labelValue('Note:', note)
    section.contact-info
      h2 Contact
      +labelValue('Representative:', repInfo)
      +labelValue('Address:',fullAddress)
      +labelValue('Phone:',contact.phone)
      a(href=`mailto:${contact.email}`)= contact.email
      if website
        br
        a(href=contact.website)= contact.website
  if productLinks.length 
    ul
    h2 Products
    each productLink in productLinks
      li
        a(href=productLink.url)= productLink.name 



