extends layout

block scripts
  script.
    document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form#manufacturer-detail-form');
    form.addEventListener('submit', async (e) => {
      const formData = new FormData(form);
      form.setAttribute('action',formData.get('manufacturerDetailCommand'));
      });
    });


block content
  include mixins/labelValue
  include mixins/adminForm
  include mixins/customRadio
  div.manufacturer-detail-page-container
    div.manufacturer-info-container
      section.company-intro
        h1= company.name
        p= company.description
      section.company-info
        h2 General
        +labelValue('Year Founded:', company.yearFounded)
        +labelValue('Structure:', company.structure)
        +labelValue('Ref:', company.ref)
        if company.ein
          +labelValue('EIN:', company.ein)
        if note
          +labelValue('Note:', note)
      section.contact-info
        h2 Contact
        +labelValue('Representative:', repInfo)
        +labelValue('Address:',fullAddress)
        +labelValue('Phone:',contact.phone)
        a(href=`mailto:${contact.email}`)= contact.email
        if website
          br
          a(href=contact.website)= contact.website
    if productLinks.length
      div.manufacturer-products-container
        ul
          h2 Products
          each productLink in productLinks
            li
              a(href=productLink.url)= productLink.name
    if registrationLink
      a(href=registrationLink) Registration Submission 
    div.manufacturer-operations-container
      form(method='GET', id='manufacturer-detail-form').form-container
        div.grouped-radio-buttons
          +customRadio('Update','manufacturerDetailCommand', 'updateManufacturer', `/manufacturer/${id}/update`)
          +customRadio('Delete','manufacturerDetailCommand', 'deleteManufacturer', `/manufacturer/${id}/delete`)
        button(type='submit')#manufacturerDetailFormSubmitButton Proceed