extends layout

block scripts
  script.
    document.addEventListener('DOMContentLoaded', () => {
      const form = document.querySelector('form#registration-review-form');
      if(!form) return;
      const rejectRadio = document.querySelector('input#rejectRegistration');
      const rejectionReason = document.querySelector('input#rejection-reason');
      rejectRadio.addEventListener('click', (e) => {
        const reason = prompt(`Please provide a reason for rejection:`);
        if(reason && reason.length > 0) rejectionReason.value = reason;
        else {
          e.preventDefault();
          alert('Invalid input: Please provide a valid reason.')
        }
        });
    })


block content
  include mixins/labelValue 
  include mixins/inputField
  include mixins/adminForm
  include mixins/customRadio
  include mixins/hiddenField
  div.registration-status-container
    header.registration-status-header
      h1 #{type.charAt(0).toUpperCase() + type.slice(1)} Registration: #{id}
      p #[em Save the registration code to access this application]
      +labelValue('submitted:',createdAt)
      h2.registration-status-status status: 
        span(class=`${status}-status`) #{status.charAt(0).toUpperCase() + status.slice(1)}
      if status === 'rejected'
        +labelValue('reason:',rejectionReason)
      else if status === 'accepted'
        a(href=dataLink) Your application has been accepted! Click this link to view your profile.
    section.registration-status-body
      div.registration-status-data-sections-container
        each sectionData,sectionName in dataSections
          div.registration-status-data-section 
            h3 #{sectionName.charAt(0).toUpperCase() + sectionName.slice(1)}
            each value,label in sectionData
              +labelValue(`${label}:`,value)
      div.registration-status-other-container
        div.button-group
          a(href=`/registration/update/${id}`).link-button Edit
          a(href=`/registration/delete/${id}`).link-button.danger-button Delete
        if status === 'pending'
          +adminForm('registration-review-form', 'reviewRegistration', false)
            +hiddenField('registration-id','registrationId',id)
            +hiddenField('rejection-reason','rejectionReason')
            div.grouped-radio-buttons
              +customRadio('Accept','registrationCommand', 'acceptRegistration', 'accept', {checked: status === 'accepted', disabled: status !== 'pending'})
              +customRadio('Reject','registrationCommand', 'rejectRegistration', 'reject', {checked: status === 'rejected', disabled: status !== 'pending'})

