extends layout

block scripts
  script.
    document.addEventListener('DOMContentLoaded', () => {
      const form = document.querySelector('form#registration-status-review-form');
      if(!form) return;
      const rejectRadio = document.querySelector('input#rejectRegistration');
      form.addEventListener('submit', (e) => {
        if(rejectRadio.checked) {
          const reason = prompt('Please provide a reason for rejection:');
          if(reason) document.querySelector('input#rejectionReason').value = reason;
          else {
            e.preventDefault();
            alert('Rejection reason is required');
          } 
        }
      })
    })


block content
  include mixins/labelValue 
  include mixins/inputField
  include mixins/adminForm
  include mixins/customRadio
  div.registration-status-container
    header.registration-status-header
      h1 #{type.charAt(0).toUpperCase() + type.slice(1)} Registration: #{id}
      p #[em Save the registration code to access this application]
      +labelValue('submitted:',createdAt)
      h2.registration-status-status status: 
        span(class=`${status}-status`) #{status.charAt(0).toUpperCase() + status.slice(1)}
      if status === 'rejected'
        h3 reason: #{rejectionReason}
      else if status === 'accepted'
        a(href=dataLink) Your application has been accepted! Click this link to view your profile.
    section.registration-status-body
      div.registration-status-data-sections-container
        each sectionData,sectionName in dataSections
          section.registration-status-data-section 
            h3 #{sectionName.charAt(0).toUpperCase() + sectionName.slice(1)}
            each value,label in sectionData
              +labelValue(`${label}:`,value)
      div.registration-status-other-container
        if status === 'pending'
          +adminForm('registration-status-review-form', 'reviewRegistration', status !=='pending')
              input(style='display:none;' name='registrationId' value=id)
              input(style='display:none;' name='rejectionReason' value='')
              div.grouped-radio-buttons
                +customRadio('Accept','registrationCommand', 'acceptRegistration', 'accept', {checked: status === 'accepted', disabled: status !== 'pending'})
                +customRadio('Reject','registrationCommand', 'rejectRegistration', 'reject', {checked: status === 'rejected', disabled: status !== 'pending'})
