extends layout 



block content
  include mixins/inputField
  include mixins/adminForm
  include mixins/hiddenField
  include mixins/manufacturerRegistration
  -
    const params = {
      title, entityType, dataKey, entityId, errorMsgs,
      repFirstName, repLastName, repRole,
      companyName, companyRef, companyStructure, yearFounded, ein, companyDescription,
      countryCode, state, postalCode, city, street, extension,
      email, phone, website,
      note
    }
  if isUpdate
    +adminForm('registrationForm', 'updateEntity')
      case dataKey
        when 'manufacturer'
          +manufacturerRegistration(params)
        default
          p No registration of type #{dataKey} found. 
  else 
    form(method='POST' id='registrationForm' action=`/registration/create/${dataKey}`).register-form
      case dataKey
        when 'manufacturer'
          +manufacturerRegistration(params)
          button(type='submit').form-submit-button Submit
        default
          p No registration of type #{dataKey} found.

block scripts
  script.
    window.errors = '!{JSON.stringify(errors)}'
    window.success = '!{success}'
  script(src='/scripts/updateFormValidation.js' type='module')