mixin customRadio(label,name,id,value,options={})
  label(for=id data-status=options.disabled ? 'disabled' : 'active').custom-radio-label-wrapper
    input(type='radio' id=id name=name value=value checked=options.checked ? 'checked' : null disabled=options.disabled ? 'disabled' : null)
    span(data-status=options.disabled?'disabled':'active').custom-radio-button
    | #{label}