include inputField
include inputWithButton 

//-
  adminForm provides a form Element which blocks submissions unless the admin password is correct.
  |--> Form submission handlers MUST be registered in the adminCommands module to process the form data.

mixin adminForm(formId, adminCommand, isDisabled)
  form(method='POST', action='/inventory/admin-command', id=formId data-status= isDisabled ? 'disabled' : 'active').admin-form-container
    input(style='display:none;' value=adminCommand name='adminCommand')
    block
    +inputWithButton('password','adminPassword','admin-password',
      {
        labelIsHidden:true,
        labelText:'Admin Password',
        inputPlaceholder:'Admin Password',
        buttonClass:'admin-form-submit-button',
        buttonText:'Submit',
        buttonType:'submit',
        disabled: isDisabled,
      }
    )
  script.
    document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('#'+'#{formId}');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      const searchParamsInstance = new URLSearchParams(formData);
      try {
        const response = await fetch('/inventory/admin-command/', {
          method: 'POST',
          body: searchParamsInstance,
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        });
        const json = await response.json();
        console.log(json)
        if(json.errors?.length > 0) json.errors?.forEach(err => alert(`Error: ${err.msg}`));
        else if(json.msg) alert(`Success: ${json.msg}`);
        else alert(`${form.id} submission successful`)
      } catch (err) { console.error('Error:', err); }
      });
    });