include inputField
include hiddenField

mixin manufacturerApplication(data)
  - 
    const {  
      errors, success,
      title, entityType, dataKey, entityId, errorMsgs,
      repFirstName, repLastName, repRole,
      companyName, companyRef, companyStructure, yearFounded, ein, companyDescription,
      countryCode, state, postalCode, city, street, extension,
      email, phone, website,
      note
    } = data
    let validationResult;
    if(success && success === true) validationResult = 'success';
    else if (errors && errors.length > 0) validationResult = errors;
    else validationResult = 'yetToBeValidated';
  
  +hiddenField('entity-type','entityType',value=entityType)
  +hiddenField('data-key','dataKey',value=dataKey ? dataKey : entityType)
  +hiddenField('entity-id','entityId',value=entityId)
  +hiddenField('validation-result','validationResult',value=validationResult)

  header.form-header
    h1= title
    p.form-disclaimer-text
      em
        strong Disclaimer:  
          mark Information submitted through this form will be publicly displayed and you will not be able to delete or edit the application.
          | The application will be shown in the 
          a(href='/application') "Browse Applications" page 
          | immediately and the 
          a(href='/manufacturer') "Browse Manufacturers" page 
          | if accepted. 
          mark Please refrain from entering any personal, vulgar, and/or offensive information. 
          | Submissions containing such content will be removed.
          | Note that this project was created for educational purposes only, 
          mark any data entered should be considered publicly accessible. 
    div.apply-form-inputs-container
      if errorMsgs
        ul 
        for msg in errorMsgs 
          li.error-message!= msg
      section.form-input-section
        h2.form-input-section-header Representative
        div.grouped-input-fields
          +inputField('repFirstName', 'First Name', 'Nicolas-Jacques', repFirstName===undefined ? '' : repFirstName, true)
          +inputField('repLastName', 'Last Name', 'Conté', repLastName===undefined ? '' : repLastName, true)
          +inputField('repRole', 'Role', 'Select Your Role', repRole===undefined ? '' : repRole, true, 'select',repRoles)
      section.form-input-section
        h2.form-input-section-header Company
        div.grouped-input-fields
          +inputField('companyName','Name', 'Pencilooza', companyName===undefined ? '' : companyName, true)
        div.grouped-input-fields
          +inputField('companyRef', 'Company Shorthand', 'PNCLOZA', companyRef===undefined ? '' : companyRef, true)
          +inputField('companyStructure', 'Structure', 'Select Your Business Structure', companyStructure===undefined ? '' : companyStructure, true, 'select',companyStructures)
        div.grouped-input-fields
          +inputField('yearFounded', 'Year Founded', '2020', yearFounded===undefined ? '' : yearFounded, true, 'number')
          +inputField('ein', 'EIN', 'XX-XXXXXXX', ein===undefined ? '' : ein)
        +inputField('companyDescription','Description', 'Tell us about your company!', companyDescription===undefined ? '' : companyDescription, false, 'textarea')
      section.form-input-section
        h2.form-input-section-header Location
        div.grouped-input-fields
          +inputField('countryCode', 'Country', 'Select Your Country Code', countryCode===undefined ? '' : countryCode, true, 'select',countryCodes)
          +inputField('state', 'State/Province/Region', 'FL', state===undefined ? '' : state, true)
        div.grouped-input-fields
          +inputField('postalCode', 'Postal', '32013', postalCode===undefined ? '' : postalCode, true)
          +inputField('city', 'City', 'Orange', city===undefined ? '' : city, true)
        div.grouped-input-fields
          +inputField('street', 'Street', '42 Scribble St.', street===undefined ? '' : street, true)
          +inputField('extension', 'Extension', 'APT. HB2, PO Box 042, etc.', extension===undefined ? '' : extension)
      section.form-input-section
        h2.form-input-section-header Contact
        div.grouped-input-fields
          +inputField('email', 'Email', 'example@pencilooza.pencil', email===undefined ? '' : email, true, 'email')
          +inputField('phone', 'Phone', '0000000000', phone===undefined ? '' : phone, true, 'tel')
          +inputField('website', 'Website', 'https://example.com', website===undefined ? '' : website, false, 'url')
      section.form-input-section 
        h2.form-input-section-header Note
        +inputField('note', '', 'Enter any relevant details here. If you entered other in any of the above fields, this is a good place to specify.', note===undefined ? '' : note, false, 'textarea')
